hr
footer.bg-dark
	.container
		.row
			.col-5.col-md-4
				a(href="#" data-toggle="modal" data-target="#share")
					button.btn.btn-success.my-3 Share
						span.fa.fa-share-alt
			.col-7.col-md-4#social
				a(href="#")
					<i class="fab fa-2x fa-facebook-square m-2" aria-hidden="true"></i>
				<a href="http://">
					<i class="fab fa-2x fa-instagram m-2" aria-hidden="true"></i>
				</a>
				a(href="https://wa.me/" target="_blank")
					i.fab.fa-whatsapp.fa-2x.m-2
				<a href="http://">
					<i class="fab fa-youtube-square fa-2x m-2" aria-hidden="true"></i>
				</a>
				<a href="http://">
					<i class="fab fa-linkedin fa-2x m-2" aria-hidden="true"></i>
				</a>
			.col-12.col-md-4.d-flex.justify-content-end.align-items-end
				#copy.text-white
.modal.fade#share(role="dialog")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", title="close") &times;
				h4.modal-title Share
					i.fa.fa-share-alt
			.modal-body
				a.my-3(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://srbphoto.tk" class="btn btn-block" style="background-color:#3b5998; color:#ffffff;") Facebook
					i.fab.fa-facebook
				a.my-3(target="_blank" href="https://twitter.com/home?status=https://srbphoto.tk" class="btn btn-block" style="background-color:#83ddf2; color:#ffffff;") Twitter
					i.fab.fa-twitter
				<a class="my-3 btn btn-block" href="https://wa.me/?text=Check out this website https://srbphoto.tk" target="_blank" style="background:linear-gradient(8deg, green 10%, #00e600 100%); color:#ffffff;"> WhatsApp
					<i class="fab fa-whatsapp"></i>
				</a>
				a.my-3(href="mailto:?subject=Please see this website&body=Check out this website https://srbphoto.tk" target="_blank" class="btn btn-block" style="background-color:#deac33; color:#ffffff;")  Email
					i.far.fa-envelope
			.modal-footer
				button.btn.mx-2.my-3(type="button", data-dismiss="modal") Close
#cookies
	.container
		.row
			.col-lg-10
				p This site uses cookies to personalize your experience, analyze site usage, and offer tailored promotions. #[a(href="http://www.youronlinechoices.com/uk/") Your Online Choices]
			.col-lg-2
				button#cookie.btn.btn-success I ACCEPT
// JQuery js
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
// Bootstrap js
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
// Materalize js
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
// Wow js
script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
// Lightbox Js
script(src="src/js/lightbox.js")
// Main js
script(src="js/main.js")
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxCHZFzeZFtLPEVQ7wOP2bb6PbtdNxb8g&callback=myMap"></script>