nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.bg-gradient
  .container
    a(href="index.html").navbar-brand.wow.fadeIn
      img(src="img/brand.png", alt="")
    button(type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-label="Toggle navigation" aria-expand="false").navbar-toggler
      span.navbar-toggler-icon
    .collapse.navbar-collapse.justify-content-end#navbar
      ul.navbar-nav
        li.nav-item
          a(href="index.html").nav-link Home
        li.nav-item
          a.nav-link(href="about.html") About
        li.nav-item
          a.nav-link(href="iBoxGrid.html") Gallery
        li.nav-item
          a.nav-link(href="contact.html") Contact