#about
	img
		object-fit: cover
		height: calc(min(250px, 30vh))	
		width: 100%
		outline: .15em solid rgba(#fff, .3)
		outline-offset: -.3em
		border-radius: .3em
		@extend .b-shadow
	.first:first-letter
		font-size: 1.4rem
	a
		color: lighten($firstcol, 5%)	
		&:hover
			color: $firstcol
			text-decoration: none