#about
	img
		object-fit: cover
		height: 300px
		width: 100%
		outline: .15em solid rgba(#fff, .3)
		outline-offset: -.3em
		border-radius: .3em
		@extend .b-shadow
	.first:first-letter
		font-size: 1.4rem