#gallery
  padding-bottom: 0.8rem
  background: linear-gradient(28deg, $forthcol 0%, $secondcol 100%)
  h1
    font-size: 4.5rem
    letter-spacing: 0.17em
    padding: 0.2em
    text-align: center
    text-shadow: -0.02em 0.02em 0.06em #000
  .row
    display: flex
    flex-wrap: wrap
    width: 100%
    margin: 0
    .column
      flex: 33.3%
      width: auto
      overflow: hidden
      padding: 0 4px
      height: 100%
      img
        margin-top: 2%
        height: 100%
        width: 100%
        cursor: pointer
        filter: grayscale(0.4) brightness(0.7)
        transition: all ease 300ms
        &:hover
          filter: grayscale(0) brightness(1)