<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title A b o u t
    body
        - const page = 'about';
        include includes/nav
        include includes/carousel
        
        h1 About Us
       
        include includes/footer