<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title C o n t a c t
    body
        - const page = 'contact';
        include includes/nav
        include includes/carousel
        .container
            h1 Contact Us
            form(action="")
                .form-row
                    .form-group.col-md-6
                        label(for="fname") First Name
                        input(type="text", name="fname", class='form-control', placeholder='First Name')
                    .form-group.col-md-6
                        label(for="lname") Last Name
                        input(type="text", name="lname", class='form-control', placeholder='Last Name')
                
                .form-group
                    label(for="email") Email
                    input(type="email", class='form-control', required, autofill, name='email', placeholder='Email')
       
                .form-group
                    label(for="msg") Message
                    textarea(name="msg", cols="30", rows="10" class='form-control')
                
                .form-row
                    .form-group.col-md-6
                        input(type="button", value="Send" class='btn btn-primary btn-lg')
        include includes/footer