<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title Simon R Brain - photography
    body
        include includes/nav
        include includes/carousel
        
        h1.wow.fadeIn Gallery
        .container-fluid#gallery
          .row
            .column
              a(href="img/img (1).jpg", data-lightbox="img-1")
                img(src="img/img (1).jpg", alt="")
              a(href="img/img (2).jpg", data-lightbox="img-1")
                img(src="img/img (2).jpg", alt="")
              a(href="img/img (3).jpg", data-lightbox="img-1")
                img(src="img/img (3).jpg", alt="")
              a(href="img/img (4).jpg", data-lightbox="img-1")
                img(src="img/img (4).jpg", alt="")
              a(href="img/img (5).jpg", data-lightbox="img-1")
                img(src="img/img (5).jpg", alt="")
            .column
              a(href="img/img (1).jpg", data-lightbox="img-1")
                img(src="img/img (1).jpg", alt="")
              a(href="img/img (2).jpg", data-lightbox="img-1")
                img(src="img/img (2).jpg", alt="")
              a(href="img/img (3).jpg", data-lightbox="img-1")
                img(src="img/img (3).jpg", alt="")
              a(href="img/img (4).jpg", data-lightbox="img-1")
                img(src="img/img (4).jpg", alt="")
              a(href="img/img (5).jpg", data-lightbox="img-1")
                img(src="img/img (5).jpg", alt="")
            .column
              a(href="img/img (1).jpg", data-lightbox="img-1")
                img(src="img/img (1).jpg", alt="")
              a(href="img/img (2).jpg", data-lightbox="img-1")
                img(src="img/img (2).jpg", alt="")
              a(href="img/img (3).jpg", data-lightbox="img-1")
                img(src="img/img (3).jpg", alt="")
              a(href="img/img (4).jpg", data-lightbox="img-1")
                img(src="img/img (4).jpg", alt="")
              a(href="img/img (5).jpg", data-lightbox="img-1")
                img(src="img/img (5).jpg", alt="")
        include includes/footer