<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title Simon R Brain - photography
    body
        include includes/nav
        include includes/carousel        
        .container-fluid#gallery.img-gallery
          h1.wow.fadeIn Gallery
          .row
            .column
              a(href="img/img-1.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-1.jpg", alt="")
              a(href="img/img-2.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-2.jpg", alt="")
              a(href="img/img-27.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-27.jpg", alt="")
              a(href="img/img-4.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-4.jpg", alt="")
              a(href="img/img-5.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-5.jpg", alt="")
              a(href="img/img-6.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-6.jpg", alt="")
              a(href="img/img-7.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-7.jpg", alt="")
              a(href="img/img-8.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-8.jpg", alt="")
            .column
              a(href="img/img-11.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-11.jpg", alt="")
              a(href="img/img-12.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-12.jpg", alt="")
              a(href="img/img-13.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-13.jpg", alt="")
              a(href="img/img-14.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-14.jpg", alt="")
              a(href="img/img-15.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-15.jpg", alt="")
              a(href="img/img-16.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-16.jpg", alt="")
              a(href="img/img-17.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-17.jpg", alt="")
              a(href="img/img-18.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-18.jpg", alt="")
              a(href="img/img-19.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-19.jpg", alt="")
              a(href="img/img-20.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-20.jpg", alt="")
            .column
              a(href="img/img-21.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-21.jpg", alt="")
              a(href="img/img-22.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-22.jpg", alt="")
              a(href="img/img-23.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-23.jpg", alt="")
              a(href="img/img-24.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-24.jpg", alt="")
              a(href="img/img-25.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-25.jpg", alt="")
              a(href="img/img-26.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-26.jpg", alt="")
              a(href="img/img-3.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-3.jpg", alt="")
              a(href="img/img-28.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-28.jpg", alt="")
              a(href="img/img-29.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-29.jpg", alt="")
              a(href="img/img-10.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-10.jpg", alt="")
              a(href="img/img-9.jpg", data-lightbox="img-1").wow.fadeIn
                img(src="img/img-9.jpg", alt="")
        include includes/footer