<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title Simon R Brain - photography
    body
        include includes/nav
        include includes/carousel
        
        h1.wow.fadeIn Gallery
        .container-fluid
          .row
            .column        
        include includes/footer