doctype html
html(lang="en")
  head
    include includes/head 
    title Gallery
  body 
    include includes/nav
    include includes/carousel 
    #iBoxGrid 
      .container-fluid.py-4
        .g-container.h-2.w-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-1.jpg", data-lightbox="img-1")
                img(src="img/img-1.jpg", alt="")
            .text img-1
        .g-container.w-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-10.jpg", data-lightbox="img-1")
                img(src="img/img-10.jpg", alt="")
            .text img-2
        .g-container
          .g-item
            .image
              a.wow.fadeIn(href="img/img-3.jpg", data-lightbox="img-1")
                img(src="img/img-3.jpg", alt="")
            .text img-3
        .g-container.h-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-4.jpg", data-lightbox="img-1")
                img(src="img/img-4.jpg", alt="")
            .text img-4
        .g-container.h-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-5.jpg", data-lightbox="img-1")
                img(src="img/img-5.jpg", alt="")
            .text img-5
        .g-container.w-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-6.jpg", data-lightbox="img-1")
                img(src="img/img-6.jpg", alt="")
            .text img-6
        .g-container.h-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-7.jpg", data-lightbox="img-1")
                img(src="img/img-7.jpg", alt="")
            .text img-7
        .g-container.w-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-8.jpg", data-lightbox="img-1")
                img(src="img/img-8.jpg", alt="")
            .text img-8
        .g-container.h-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-9.jpg", data-lightbox="img-1")
                img(src="img/img-9.jpg", alt="")
            .text img-9
        .g-container.w-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-2.jpg", data-lightbox="img-1")
                img(src="img/img-2.jpg", alt="")
            .text img-10
        .g-container.h-2.w-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-11.jpg", data-lightbox="img-1")
                img(src="img/img-11.jpg", alt="")
            .text img-11
        .g-container.w-2.h-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-12.jpg", data-lightbox="img-1")
                img(src="img/img-12.jpg", alt="")
            .text img-12
        .g-container
          .g-item
            .image
              a.wow.fadeIn(href="img/img-13.jpg", data-lightbox="img-1")
                img(src="img/img-13.jpg", alt="")
            .text img-13
        .g-container.h-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-14.jpg", data-lightbox="img-1")
                img(src="img/img-14.jpg", alt="")
            .text img-14
        .g-container
          .g-item
            .image
              a.wow.fadeIn(href="img/img-15.jpg", data-lightbox="img-1")
                img(src="img/img-15.jpg", alt="")
            .text img-15
        .g-container
          .g-item
            .image
              a.wow.fadeIn(href="img/img-16.jpg", data-lightbox="img-1")
                img(src="img/img-16.jpg", alt="")
            .text img-16
        .g-container
          .g-item
            .image
              a.wow.fadeIn(href="img/img-17.jpg", data-lightbox="img-1")
                img(src="img/img-17.jpg", alt="")
            .text img-17
        .g-container.w-3.h-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-18.jpg", data-lightbox="img-1")
                img(src="img/img-18.jpg", alt="")
            .text img-18
        .g-container
          .g-item
            .image
              a.wow.fadeIn(href="img/img-19.jpg", data-lightbox="img-1")
                img(src="img/img-19.jpg", alt="")
            .text img-19
        .g-container
          .g-item
            .image
              a.wow.fadeIn(href="img/img-20.jpg", data-lightbox="img-1")
                img(src="img/img-20.jpg", alt="")
            .text img-20
        .g-container.w-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-21.jpg", data-lightbox="img-1")
                img(src="img/img-21.jpg", alt="")
            .text img-21
        .g-container.h-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-22.jpg", data-lightbox="img-1")
                img(src="img/img-22.jpg", alt="")
            .text img-22
        .g-container
          .g-item
            .image
              a.wow.fadeIn(href="img/img-23.jpg", data-lightbox="img-1")
                img(src="img/img-23.jpg", alt="")
            .text img-23
        .g-container.h-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-24.jpg", data-lightbox="img-1")
                img(src="img/img-24.jpg", alt="")
            .text img-24
        .g-container.w-2.h-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-25.jpg", data-lightbox="img-1")
                img(src="img/img-25.jpg", alt="")
            .text img-25
        .g-container.h-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-26.jpg", data-lightbox="img-1")
                img(src="img/img-26.jpg", alt="")
            .text img-26
        .g-container.w-2
          .g-item
            .image
              a.wow.fadeIn(href="img/img-27.jpg", data-lightbox="img-1")
                img(src="img/img-27.jpg", alt="")
            .text img-27
        .g-container
          .g-item
            .image
              a.wow.fadeIn(href="img/img-28.jpg", data-lightbox="img-1")
                img(src="img/img-28.jpg", alt="")
            .text img-28
        .g-container
          .g-item
            .image
              a.wow.fadeIn(href="img/img-29.jpg", data-lightbox="img-1")
                img(src="img/img-29.jpg", alt="")
            .text img-29
    include includes/footer