<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title Simon R Brain - photography
    body
        include includes/nav
        include includes/carousel
        
        h1.wow.fadeIn Gallery
        .container-fluid#gallery
          .row
            .column
              a(href="img/img (1).jpg" data-lightbox="img-2" data-title="Sunset")
                img(src="img/img (1).jpg", alt="")
              a(href="img/img (2).jpg" data-lightbox="img-2" data-title="")
                img(src="img/img (2).jpg", alt="")
              img(src="img/img (3).jpg", alt="")
              img(src="img/img (4).jpg", alt="")
              img(src="img/img (5).jpg", alt="")
            .column
              img(src="img/img (1).jpg", alt="")
              img(src="img/img (5).jpg", alt="")
              img(src="img/img (3).jpg", alt="")
              img(src="img/img (4).jpg", alt="")
              img(src="img/img (2).jpg", alt="")
            .column
              img(src="img/img (1).jpg", alt="")
              img(src="img/img (2).jpg", alt="")
              img(src="img/img (5).jpg", alt="")
              img(src="img/img (4).jpg", alt="")
              img(src="img/img (3).jpg", alt="")

        include includes/footer