doctype html
html(lang="en")
  head
    include includes/head 
    title Gallery
  body 
    include includes/nav
    include includes/carousel 
    #iBoxwrap 
      .container.py-4
        div
          a.wow.fadeIn(href="img/img-1.jpg", data-lightbox="img-1")
            img(src="img/img-1.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-2.jpg", data-lightbox="img-1")
            img(src="img/img-2.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-3.jpg", data-lightbox="img-1")
            img(src="img/img-3.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-4.jpg", data-lightbox="img-1")
            img(src="img/img-4.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-5.jpg", data-lightbox="img-1")
            img(src="img/img-5.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-6.jpg", data-lightbox="img-1")
            img(src="img/img-6.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-7.jpg", data-lightbox="img-1")
            img(src="img/img-7.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-8.jpg", data-lightbox="img-1")
            img(src="img/img-8.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-9.jpg", data-lightbox="img-1")
            img(src="img/img-9.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-10.jpg", data-lightbox="img-1")
            img(src="img/img-10.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-11.jpg", data-lightbox="img-1")
            img(src="img/img-11.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-12.jpg", data-lightbox="img-1")
            img(src="img/img-12.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-13.jpg", data-lightbox="img-1")
            img(src="img/img-13.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-14.jpg", data-lightbox="img-1")
            img(src="img/img-14.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-15.jpg", data-lightbox="img-1")
            img(src="img/img-15.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-16.jpg", data-lightbox="img-1")
            img(src="img/img-16.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-17.jpg", data-lightbox="img-1")
            img(src="img/img-17.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-18.jpg", data-lightbox="img-1")
            img(src="img/img-18.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-19.jpg", data-lightbox="img-1")
            img(src="img/img-19.jpg", alt="")
        div
          a.wow.fadeIn(href="img/img-20.jpg", data-lightbox="img-1")
            img(src="img/img-20.jpg", alt="")
    include includes/footer