<!DOCTYPE html>
html(lang="en")
	head
		include includes/head
		title Simon R Brain - photography
	body
		include includes/nav
		include includes/carousel
		.bg-grad
			#about.container.pb-3
				h1.pt-3 Welcome to Simon Brain Photography.
				.row 
					.col-sm-6.d-flex.flex-column.justify-content-space-evenly
						p.first This website shows my photography projects.
						p If you have any quesstions about Simon Brain Photography please feel free to send me a #[a(href="contact.html") Message.]
					.col-sm-6 
						img(src="https://source.unsplash.com/800x600?city", alt="", srcset="")
		include includes/footer