<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title H o m e
    body
        - const page = 'home';
        include includes/nav
        include includes/carousel
        
        h1.wow.fadeIn Welcome
        
        include includes/footer