<!DOCTYPE html>
html(lang="en")
	head
		include includes/head
		title Simon R Brain - photography
	body
		include includes/nav
		include includes/carousel
		.container
			h1.wow.fadeIn Welcome
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis fuga, ad voluptate at vero dolorum culpa repellendus, quae excepturi architecto nihil numquam! Dolorem recusandae et doloribus nemo quo   nbvoluptatibus corrupti modi rem rerum eum repellendus, adipisci inventore delectus, eligendi deleniti tempore reprehenderit assumenda exercitationem obcaecati nam sed accusantium facilis. Earum, possimus nulla! Tempore consequuntur provident quas animi nihil soluta quae sint quasi exercitationem qui beatae molestiae officia molestias quis repellendus ut, eligendi dolores ipsum eius et? Corporis porro voluptas labore quia soluta pariatur praesentium dignissimos! Fugiat labore, ipsa saepe deserunt quam aspernatur quaerat magni molestias dolorum ratione eius illo beatae sed quod laboriosam delectus nam soluta odit neque dignissimos ducimus eligendi. Itaque consequatur iure animi enim non eligendi cum culpa vel aliquam dolor est rerum ipsam, hic temporibus officiis blanditiis impedit nesciunt perspiciatis explicabo deserunt tempora. Quod, dolorum rerum! Fugiat adipisci eius voluptatem nihil? Eligendi sed placeat nostrum quia ipsum?
		
		include includes/footer